

body {
	height: auto;
	margin: 0 auto;
	font-family: 'Press Start 2P', cursive;
	background-color: #f5f5f5;
}


header {
	background-color: #f5f5f5;
	height: auto;
	text-align: center;

}

footer {
	border-top: 3px solid white;
	border-bottom: 3px solid white;	
}

h1 {
	font-family: 'Impact';
	text-align: center;
	letter-spacing: 10px;
	font-size: 70px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}




li {
	list-style: none;
}

#top-img {
	text-align: center;
	margin-bottom: 20px;
}

#top-img img {
	height: 130px;
	width: 130px;
	

}

/*.shadow {
	height: 10px;
	width: 10px;
	margin: 0 auto;
	box-shadow: 70px 70px 70px 70px black;
	position: relative;
	top: 0px;
	left: -20px;
}*/


.arrow {
	margin: 0 auto;
	height: 34px;
	width: 34px;
	
	
	text-align: center;
	/*position: relative;*/
	display: flex;
	justify-content: center;
/*	top: 14px;
	left: -102px;*/
}

.arrow img {
	
	margin: auto;
	height: 20px;
	width: 22px;
	opacity: 0.9;
}

#setting {
	position: relative;
	top: 10px;
	left: -3px;
}

#openDiv {
	margin: 0 auto;
	height: 36px;
	width: 40px;
	position: relative;
	top: 20px;
	left:;
}

.visibility {
	visibility: hidden;
}

h2 {
	text-align: center;
	margin: 0 auto;
	border-bottom: 5px solid white;
	width: 28vw;
	
}

a {
	text-decoration: none;
	color: black;
}

main {
	height: auto;
}
.display {
	display: none;
}
/*main {
	background-color: #74b6cc;
	height: 70vh;

}*/



.contents-wrapper {
	background-color: #f5f5f5; /*light blue  #cdedf7 */
	height: auto;
	width: auto;

}

.contents-inner-wrapper {
	background-color: #f5f5f5 /* #F4CDF7 */; /*pink*/ 
	height: auto;
	width: 90vw;
	margin: 0 auto;

}

.profile-wrapper {

	 
	
	
	margin: 0 auto;
	margin-top: -13px;
	
	height: 40vh;
	width: 90%;
	display: flex;

	position: relative;
	top: 50px;
}

.profile {


	height: 80%;
	width: 30vw;
	margin: auto;
	box-shadow: 1px 1px 1px 1px grey;

}



.first-page {
	
	
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	margin: 10px;
}

.second-page {
	
	height: 100%;
	width: 100%;
	line-height: 7px;
}

.imgae-area {

}
.second-page img {
	position: relative;
	left: 170px;
}
.second-wrapper {
	background-color: white;
	height: 100%;

}
.hp-exp-num {
	position: relative;
	top: -80px;
	left: 192px;
}

.hp-num, .exp-num {
	font-size: 10px; 
}

.exp-num {
	position: relative;
	top: 6px;
}

#userName {
	margin-top: 0px;
	padding-top: 25px;
}

.info-area {
	height: 47%;
	text-align: left;
	padding-left: 10px;
}

.back-div {
	height: 5px;
	width: auto;
	/*background-color: pink;*/
	text-align: center;
	position: relative;
	top: -5px;
}
.back-p {
	font-size: 10px;
	margin:0px;
	opacity: 0.8;
	cursor: pointer;
}


.hp-bar-wrapper, .exp-bar-wrapper {
	height: 10px;
	width: 120px;
	border: 1px solid black;
	position: relative;
	left: 64px;
}
.hp-bar-wrapper {
	top: -50px;
}

.hp-wrap, .exp-wrap {
	height: 100%;
	width: 100%;
	position: absolute;
}

.hp-wrap {

}

.exp-wrap {

}

.hp-outer, .exp-outer {
	/*border: 1px solid pink;*/
	height: 100%;
	width: 100%;
	position: absolute;
	/*border: 1px solid black;*/
}

.hp-outer {

}

.hp-inner {
	height: 100%;
	width: 100%;
	background-color: #C72424;
	position: absolute;
}

.exp-bar-wrapper {
	top: -39px;
}

.exp-wrap {

}

.exp-outer {

}

.exp-inner {
	height: 100%;
	width: 0%;
	background-color: #2455C7;
	position: absolute;
}

/* Bars in modal*/
.before-game {
	margin: 0 auto;
}
.before-game .hp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 150px;
	position: relative;
	top: -5px;
	left: 310px;
}

.before-game .exp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 150px;
	position: relative;
	top: -5px;
	left: 310px;
}

.game .hp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 200px;
	top: -65px;
	left: 90px;
}

.game .exp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 200px;
	top: -48px;
	left: 90px;
}
#monster-hp-bar-wrapper {
	top: -33px;
	left: 97px;
}
.hp-inner-m {
	
	height: 100%;
	width: 100%;
	background-color: #C72424;
	position: absolute; 
}

.wrap {
	margin: 100px auto;
}

.contents {
	background-color: #f5f5f5;  /*yellow#F6F7CD*/
	height: auto;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-items: center;
}

.constents-area {
	height: 100vh;
}

.contents div {
	margin: 15px;
	height: 100px;
	width: 30vw;
	border: 1px solid grey;
	border-radius: 3px;

}


.open-game {

}

.open-game p {
	padding-left: 3px;
	z-index: 1;
}

.open-game img {

	
	z-index: ;
}

.slime {
	position: relative;
	top: -54px;
	left: 176px;
}


.killerPanther {
	position: relative;
	top: -130px;
	left: 225px;
}
.kandata {
	position: relative;
	top: -104px;
	left: 142px;
}
.golem {
	position: relative;
	top: -116px;
	left: 158px;
}
.akumashinkan {
	position: relative;
	top: -131px;
	left: 188px;
}
.milledearth {
	position: relative;
	zoom: 67%;
	top: -172px;
	left: 296px;
}
.killermachine {
	position: relative;
	top: -122px;
	left: 227px;
}
.gigantes {
	position: relative;
	top: -145px;
	left: 181px;
}
.milledearthX {
	position: relative;
	top: -176px;
	left: 208px;
}
.ryuoh {
	position: relative;
	top: -126px;
	left: 188px;
}

#nine {
	margin-top: 100px;
}

#ten {
	margin-top: 200px;
	box-shadow: 0px 11px 120px 52px #1A0145, 0 0 44px 3px #1a0145 inset;
	border: none;
}

.boss {
	box-shadow: 0 0 20px #1A0145;
}

.game-modal {
	background-color: #f5f5f5 /*#75716B*/;
	height: 80vh;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
	top: -143vh;

}

.remove {
	display: none;
}

.game-modal-inner {
	background-color: black;
	border: 1px solid black;
	color: white;
	height: 80vh;
	width: 60vw;
}

.game-modal-inner, .before-game, .game, .after-game {
	background-color: black;
	/*border: 1px solid white;*/
	color: white;
	height: 80vh;
	width: 60vw;
	/*position: absolute;	*/ 
}

.before-game {

}

.game-modal-inner img {
	margin: 35px;
}

.game p {
	text-align: left;
	padding-left: 10px;
}

#monsterImg img {
	height: 10px;
	width: 10px;
}

.words {
	font-size: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 6px;
}

.bg {
	background-color: #04AF71;
}

#game-btn {
	visibility: hidden;
}

.after-game {

}

.fas {
	font-size: 14px;
	float: right;
	padding-right: 15px;
	padding-top: -10px;
}

.result-textarea {
	text-align: center;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.result-textarea .exp-bar-wrapper {
	border: 1px solid white;
	height: 16px;
	width: 120px;
	position: relative;
	top: 50px;
	left: 100px;
}


footer {
	width: auto;
	height: 30vh;
	background-color: #f5f5f5 /*#FAC273*/;
}




/**/































