

body {
	height: auto;
	margin: 0 auto;
	font-family: 'Press Start 2P', cursive;
	background-color: #f5f5f5;
}


header {
	background-color: #f5f5f5;
	height: auto;

}

h1 {
	font-family: 'Impact';
	text-align: center;
	letter-spacing: 10px;
	font-size: 70px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}

a {
	text-decoration: none;
	color: black;
}

.display {
	display: none;
}
/*main {
	background-color: #74b6cc;
	height: 70vh;

}*/

.contents-wrapper {
	background-color: #f5f5f5; /*light blue  #cdedf7 */
	height: auto;
	width: auto;

}

.contents-inner-wrapper {
	background-color: #f5f5f5 /* #F4CDF7 */; /*pink*/ 
	height: auto;
	width: 90vw;
	margin: 0 auto;
}

h2 {
	border-bottom: 5px solid white;
	width: 18vw;
	padding-left: 15px;
}

.profile-wrapper {

	background-color: #242405 /*#75716B*/;
	margin: 15px auto;
	border: 1px solid black;
	height: 30vh;
	width: 40vw;
	text-align: center;
	display: flex;
	justify-content: center;
}

.profile {
	
	height: auto;
	width: 40vw;

}

.first-page {
	/*display: none;*/
	/*background-color: yellow;*/
	height: 30vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

input {
	margin: 10px;
}

.second-page {
	background-color: yellow;
	height: 30vh;
	line-height: 7px;
}
.second-page img {
	padding: 7px;
}
.second-wrapper {
	background-color: white;
	height: 100%;

}
.hp-exp-num {
	position: relative;
	top: -80px;
	left: 192px;
}

.hp-num, .exp-num {
	font-size: 10px; 
}

.exp-num {
	position: relative;
	top: 6px;
}

#userName {
	margin-top: 0px;
	padding-top: 25px;
}

.info-area {
	text-align: left;
	padding-left: 10px;
}


.hp-bar-wrapper, .exp-bar-wrapper {
	height: 10px;
	width: 120px;
	border: 1px solid black;
	position: relative;
	left: 64px;
}
.hp-bar-wrapper {
	top: -50px;
}

.hp-wrap, .exp-wrap {
	height: 100%;
	width: 100%;
	position: absolute;
}

.hp-wrap {

}

.exp-wrap {

}

.hp-outer, .exp-outer {
	/*border: 1px solid pink;*/
	height: 100%;
	width: 100%;
	position: absolute;
	/*border: 1px solid black;*/
}

.hp-outer {

}

.hp-inner {
	height: 100%;
	width: 100%;
	background-color: #C72424;
	position: absolute;
}

.exp-bar-wrapper {
	top: -39px;
}

.exp-wrap {

}

.exp-outer {

}

.exp-inner {
	height: 100%;
	width: 0%;
	background-color: #2455C7;
	position: absolute;
}

/* Bars in modal*/

.before-game .hp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 150px;
	position: relative;
	top: -5px;
	left: 180px;
}

.before-game .exp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 150px;
	position: relative;
	top: -5px;
	left: 180px;
}

.game .hp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 200px;
	top: -65px;
	left: 90px;
}

.game .exp-bar-wrapper {
	border: 1px solid white;
	height: 13px;
	width: 200px;
	top: -48px;
	left: 90px;
}
#monster-hp-bar-wrapper {
	top: -33px;
	left: 97px;
}
.hp-inner-m {
	
	height: 100%;
	width: 100%;
	background-color: #C72424;
	position: absolute; 
}



.contents {
	background-color: #f5f5f5;  /*yellow#F6F7CD*/
	height: 82vh;
	width: 90vw;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.contents div {
	margin: 15px;
	height: 100px;
	width: 25%;
	border: 1px solid grey;

}

.game-modal {
	background-color: #f5f5f5 /*#75716B*/;
	height: 80vh;
	width: 100vw;
	text-align: center;
	display: flex;
	justify-content: center;
	position: relative;
	top: -100vh;

}

.remove {
	display: none;
}

.game-modal-inner {
	background-color: black;
	border: 1px solid black;
	color: white;
	height: 80vh;
	width: 60vw;
}

.game-modal-inner, .before-game, .game, .after-game {
	background-color: black;
	/*border: 1px solid white;*/
	color: white;
	height: 80vh;
	width: 60vw;
	/*position: absolute;	*/ 
}

.before-game {

}

.game-modal-inner img {
	margin: 35px;
}

.game p {
	text-align: left;
	padding-left: 10px;
}

#monsterImg img {
	height: 10px;
	width: 10px;
}

.words {
	font-size: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
	letter-spacing: 6px;
}

.bg {
	background-color: #04AF71;
}

#game-btn {
	visibility: hidden;
}

.after-game {

}

.fas {
	font-size: 14px;
	float: right;
	padding-right: 15px;
	padding-top: -10px;
}





footer {
	width: auto;
	height: 30vh;
	background-color: #f5f5f5 /*#FAC273*/;
}


#bottom-img {
	text-align: center;
	padding: 20px;
}



